.course {
  background: var(--white);
  width: 300px;
  min-height: 254px;
  padding: 35px 30px;
  border-radius: 10px;
  position: relative;
}

.course .course__icon {
  font-size: 2.5rem;
  color: var(--primary);
  margin-bottom: 10px;
}

.course .course__line {
  width: 40px;
  height: 2px;
  background-color: var(--primary);
  margin-bottom: 10px;
}

.course .course__title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--primary);
}

.course .course__description {
  font-size: 1.5rem;
}

.course .course__download {
  font-size: 3rem;
  color: var(--primary);
  position: absolute;
  top: 35px;
  right: 30px;
}
