.section__masterclass {
  width: 100%;
}

.section__masterclass .masterclass__hero {
  width: 100%;
  height: 350px;
  background-image: url("../../assets//img5.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.masterclass__hero .hero__title {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  color: var(--primary);
}

.masterclass__hero .hero__title-2 {
  color: var(--white);
}

.section__masterclass .container__masterclass {
  width: 100%;
  max-width: 1100px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.container__masterclass .masterclass__image {
  width: 100%;
  max-width: 500px;
}

.masterclass__image .image__img {
  width: 100%;
}

.container__masterclass .masterclasss__text {
  width: 100%;
  max-width: 500px;
  background: var(--primary);
  color: var(--white);
  padding: 20px 30px;
  font-size: 1.7rem;
}

.section__masterclass .masterclasss__schedules {
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
  margin: 30px auto;
}

.masterclasss__schedules .schedules__title {
  font-size: 4rem;
  font-weight: 400;
  color: var(--primary);
}

.masterclasss__schedules .schedules__title-2 {
  color: var(--white);
}

.masterclasss__schedules .schedules__list {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.masterclasss__schedules .masterclass__get {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.masterclass__get .get__registertxt {
  font-size: 3rem;
  color: var(--white);
}

.masterclass__get .get__btn {
  padding: 20px 40px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 2rem;
  border-radius: 30px;
}
