.section__testimonials {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto 100px auto;
}

.section__testimonials .testimonials__title {
  font-size: 4rem;
  font-weight: 500;
  color: var(--white);
}

.section__testimonials .testimonials__title-2 {
  color: var(--primary);
}

.section__testimonials .testimonials__subtitle {
  font-size: 1.7rem;
  color: var(--white);
}

.section__testimonials .container__testimonials {
  width: 100%;
  margin: 70px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.container__testimonials .testimonials__slider {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTest {
  width: 300px;
  height: 270px;
  padding: 55px 20px 20px 20px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  position: relative;
}

.cardTest .cardTest__image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: -40px;
  right: 15px;
  border-radius: 10px;
}

.cardTest .cardTest__icon {
  color: var(--white);
  font-size: 5rem;
  margin: 10px;
}

.cardTest .cardTest__text {
  font-size: 1.3rem;
  color: var(--white);
}

.cardTest .cardTest__sec {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTest__sec .sec__useName {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary);
}

.cardTest__sec .sec__ranking {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #ffc919;
  font-size: 1.5rem;
}

.container__testimonials .testimonials__image {
  width: 100%;
  max-width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  position: relative;
}

.testimonials__image .image__img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 20px;
  right: -15px;
}
